<app-framelayout> </app-framelayout>
<table border="0" width="100%" >   
  <tr>
    <td align="left" style="padding-left: 28%">
      <form (submit)="ChangePassword(f)" #f="ngForm">
          
       
          <tr>
            <td  >
            <label for="password">Old Password:</label>
          </td>
          <td >
            <input type="password" id="oldpassword" name ="oldpassword" ngModel class = "form-control">
          </td>
          <td *ngIf="showinvalidoldpassword" >
            <label style="color:red">*</label>
          </td>
          </tr>
          <tr>
            <td  >
            <label for="password">New Password:</label>
          </td>
          <td >
            <input type="password" id="newpassword" name ="newpassword" ngModel class = "form-control">
          </td>
          <td *ngIf="showinvalidnewpassword" >
            <label style="color:red">*</label>
          </td>
          </tr>
          <tr>
            <td  >
            <label for="password">Confirm Password:</label>
          </td>
          <td >
            <input type="password" id="confirmpassword" name ="confirmpassword" ngModel class = "form-control">
          </td>
          <td *ngIf="showinvalidconfirmpassword" >
            <label style="color:red">*</label>
          </td>
          </tr>
           <tr>
             <td>

             </td>
             <td>
              <jqxButton [width]='120' [height]='40' class="buttoncolor"  click="loginUser()"  >
                  Submit
                  </jqxButton>
                </td>
                </tr>
        </form>
      </td>
  </tr>  
    </table>