<!-- <div  style="border:1px solid black;" class="row">
                <div style="border:1px solid black;"  class="column">
                                
                                                <img src='http://mruanova.com/img/1.jpg' alt='image'>
                                            
                </div>
                <div style="border:1px solid black;" class="column">
                                
                                               Search
                                             
                </div>
                <div style="border:1px solid black;" class="column">
                                
                <table>
                        <tr>
                                <td>
                                        language
                                </td>
                                <td>
                                                <jqxComboBox 
                                                [width]='250' [height]='25' 
                                                 [selectedIndex]='0'>
                                            </jqxComboBox>
                                </td>
                        </tr>
                </table>
                              
                </div>
                <div style="border:1px solid black;" class="column">

                    <jqxPopover 
                    [showCloseButton]="true" [selector]="'#container'" [title]="'Employees'"
                    [arrowOffsetValue]="50" [offset]="{ left: left, top: top }">
          <div #employees></div>
        </jqxPopover>
        <div style="height: 33px; border-width: 1px; border-style: solid; padding: 10px;" id="container" class="jqx-widget-header">
          <jqxButton #buttonReference style="float: right" id="button"
                     [width]="150" [height]="35" [template]="'inverse'">
            Product list
          </jqxButton>
        </div>

                </div>

                <div style="border:1px solid black;" class="column">
                  <jqxPopover 
                    [showCloseButton]="true" [selector]="'#container'" [title]="'Employees'"
                    [arrowOffsetValue]="50" [offset]="{ left: left, top: top }">
          <div #noti></div>
        </jqxPopover>
        <div style="height: 33px; border-width: 1px; border-style: solid; padding: 10px;" id="container" class="jqx-widget-header">
          <jqxButton #buttonReference style="float: right" id="button"
                     [width]="150" [height]="35" [template]="'inverse'">
            Notification
          </jqxButton>
        </div>
          </div>

                <div style="border:1px solid black;" class="column">
                        UserName
                </div>
</div> -->
<!-- 
<jqxMenu class="jqx-menu-item-separator" [width]="'100%'"  [height]="35" style="background:rgb(5, 0, 73);">
  <ul>
        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white"> <a style="cursor: pointer;" (click)="Routeform('home')"><b>Home</b></a></li>

        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white"> <a style="cursor: pointer;" (click)="Routeform('login')"><b>Login</b></a></li>

        <li style="background:rgb(5, 0, 73); width:5%;border-right:1px solid rgb(185, 180, 180);color:white"> <a style="cursor: pointer;" (click)="Routeform('bar')"><b>Services</b></a></li>

        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white">  <a style="cursor: pointer;" (click)="Routeform('rfp')"><b>Products</b></a></li>

        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white"> <a style="cursor: pointer;" (click)="Routeform('fin')" ><b>Events</b></a></li>

        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white"><a style="cursor: pointer;" (click)="Routeform('pr')"><b>Careers</b> </a></li>
        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white"><b>Reports</b>
            <ul>
              <li style="background:rgb(5, 0, 73); color:white ; font-size:13px"><a style="cursor: pointer;" (click)="Routeform('replinishmentreport')">Replenishment</a></li>
              <li style="background:rgb(5, 0, 73); color:white; font-size:13px"><a style="cursor: pointer;" (click)="Routeform('summaryreport')">Summary</a></li>
              <li style="background:rgb(5, 0, 73); color:white;font-size:13px"><a style="cursor: pointer;" (click)="Routeform('viewolddoc')">View Old Doc</a></li>
              <li type="separator"></li>
            </ul>
        </li>
        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white" ><b>Contact</b>
            <ul>
              <li style="background:rgb(5, 0, 73);color:white;font-size:13px"><a style="cursor: pointer;" (click)="Routeform('refreshdata')">Refresh</a></li>
            </ul>
        </li>
        <li style="background:rgb(5, 0, 73); width:5%;border-right: 1px solid rgb(185, 180, 180);color:white"> <a style="cursor: pointer;" (click)="Routeform('setting')"><b>Setting</b></a></li>


        <li style="background:transparent; width:15%;border:1px;"></li>


        <li style="background:rgb(5, 0, 73); width:15%; color:rgb(247, 171, 9)"><b >{{username}}</b>
          <ul>
            <li style="background:rgb(5, 0, 73); color:white; font-size:13px"><a style="cursor: pointer;" (click)="Routeform('changepw')">Change Password</a></li>
          </ul>
        </li>

        <li style="background:rgb(5, 0, 73); width:5.3%; color:white" (click)="onlogout()">
          <a style="cursor: pointer;" ><b>Log Out</b></a>
        </li>

   </ul>
</jqxMenu> -->
<div style="width: 100%; height: 100%;">
  <jqxMenu #jqxMenu class="jqx-menu-item-separator" [width]="'100%'"  [height]="35" style="background:rgb(5, 0, 73);color:white;" 
  (onItemclick)="itemclick($event)"
  [source]="records"
  [width]="805"
  [height]="30">
  </jqxMenu>
</div>
<!-- 
<table   style="width: 100%;border: 1px solid black;background-color:paleturquoise">
  <tr>
    <td>
        <img style="margin-top: 3px;" height="40" width="600"  src="assets/img/pakin.png"/>
    </td>
    
    <td  style="width:10%;margin-right: 20px;border: 1px solid black;">
              
        <jqxMenu #menuReference [width]="'100%'"  [height]="'100%'" style="background:rgb(189, 184, 255);" >
            <ul>
                <li>
                    <img style="width: 30px;height: 30px" src='assets/img/user.png' />
                    {{username}}
                    <ul>
                      <li (click)="Routeform('changepw')">Change Password</li>
                      <li (click)="onlogout()">Logout</li>
                     
                    </ul>
                  </li>
            </ul>
          </jqxMenu>
      
    </td>

  </tr>
</table> -->
              
<!-- <div style="border:1px solid black;" class="row">
    
        <div style="border:1px solid black;"  class="columnmenu">
                                
            
            <img style="margin-top: 3px;" height="40" width="600"  src="assets/img/pakin.png"/>
        
        </div>


        <div style="border:1px solid black;width:1px; margin-left: auto"  class="columnmenu">
          <jqxMenu #menuReference [width]="'100%'"  [height]="'100%'">
              <ul>
                  <li>
                      <img style="width: 10px;height: 10px" src='assets/img/user.png' />
                   
                      <ul>
                        <li (click)="Routeform('changepw')">Change Password</li>
                        <li (click)="onlogout()">Logout</li>
                       
                      </ul>
                    </li>
              </ul>
            </jqxMenu>
        </div>

</div> -->

  <!-- <div  style="margin-top: 50px; font-size: 13px; font-family: Verdana;" #eventLog></div>   -->
  


<!-- <div style="border:1px solid black;" class="row">
        <div style="border:1px solid yellow;"   class="columnmenu">

                        <div #jqxWidget style='width: 110px;'>
                                        <jqxMenu #jqxMenu
                                                 [mode]="'vertical'"
                                                 [width]="120">
                                          <ul>
                                            <li><a href="#">Home</a></li>
                                            <li>
                                              About Us
                                              <ul>
                                                <li><a href="#">History</a></li>
                                                <li><a href="#">Our Vision</a></li>
                                                <li>
                                                  <a href="#">The Team</a>
                                                  <ul>
                                                    <li><a href="#">Brigita</a></li>
                                                    <li><a href="#">John</a></li>
                                                    <li><a href="#">Michael</a></li>
                                                    <li><a href="#">Peter</a></li>
                                                    <li><a href="#">Sarah</a></li>
                                                  </ul>
                                                </li>
                                                <li><a href="#">Clients</a></li>
                                                <li><a href="#">Testimonials</a></li>
                                                <li><a href="#">Press</a></li>
                                                <li><a href="#">FAQs</a></li>
                                              </ul>
                                            </li>
                                            <li>
                                              Services
                                              <ul>
                                                <li><a href="#">Product Development</a></li>
                                                <li><a href="#">Delivery</a></li>
                                                <li><a href="#">Shop Online</a></li>
                                                <li><a href="#">Support</a></li>
                                                <li><a href="#">Training &amp; Consulting</a></li>
                                              </ul>
                                            </li>
                                            <li>
                                              Products
                                              <ul>
                                                <li>
                                                  <a href="#">New</a>
                                                  <ul>
                                                    <li><a href="#">Corporate Use</a></li>
                                                    <li><a href="#">Private Use</a></li>
                                                  </ul>
                                                </li>
                                                <li>
                                                  <a href="#">Used</a>
                                                  <ul>
                                                    <li><a href="#">Corporate Use</a></li>
                                                    <li><a href="#">Private Use</a></li>
                                                  </ul>
                                                </li>
                                                <li><a href="#">Featured</a></li>
                                                <li><a href="#">Top Rated</a></li>
                                                <li><a href="#">Prices</a></li>
                                              </ul>
                                            </li>
                                            <li><a href="#">Gallery</a></li>
                                            <li><a href="#">Events</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li>
                                              <a href="#">Contact Us</a>
                                              <ul>
                                                <li><a href="#">Enquiry Form</a></li>
                                                <li><a href="#">Map &amp; Driving Directions</a></li>
                                                <li><a href="#">Your Feedback</a></li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </jqxMenu>
                                      </div>        

        </div>

        <div style="border:1px solid green; background-color:rgb(204, 196, 252)"  class="column">
            
  <div style="display:flex; width: 100%; height: 100%;">

      <a [routerLink]="['/home']">Visit W3Schools.com!</a>
      <ng-content></ng-content>
    
  </div>
            
        </div>
</div>  -->
 
