/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.box {
    display: flex;
  }

  
/*   html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y:scroll; 
  }
 */
  .column {
    flex: 20%;
}
.columnmenu
{
  flex: 0 0 256px;
}
.framebutton
{
  
  border:1px solid black;   
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.row {
  display: flex;
  background-color:rgb(225, 244, 255)
}

#container {
  display: flex;
 
}

.buttoncolor
{
  color:red
}

.mainContent {
  height: 500px;
  background-color: #E6E6E6;
  width: 650px;
}

.input {
  position: center;
  text-align: center;
  padding: 5px 2px;
  font-size: 20px;
  outline: 1;
  size: 10px

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
