<app-framelayout> </app-framelayout>
<div class="framebutton"  >
                                
    <table width="100%" border="0">
        <tr>
        <td>
        
        <jqxButton [width]='120' [height]='40' class="buttoncolor" #button (onClick)="btnNew()"  >
        New
        </jqxButton>
      
  
        <jqxButton [width]='120' [height]='40' #button (onClick)="btnSave()"  >
        Save
        </jqxButton>
       
  
        <jqxButton [width]='120' [height]='40' #button >
        Edit
        </jqxButton>
   
        <jqxButton [width]='120' [height]='40' #button  >
        Delete
        </jqxButton>
   
      
        <jqxButton [width]='120' [height]='40' #button >
        Print
        </jqxButton>
       
        </td>
        </tr>
        </table>
  
  </div>

<table style="width: 100%"  border="0" >
    <tr>        
            
        <td colspan="1" >
                <jqxInput  [height]="25" [placeHolder]="bookidplaceholder" [disabled]="false"   [(ngModel)]="bookingid" [minLength]="1">
                </jqxInput>               
        </td>
       
            <td colspan="1" >
                    <jqxComboBox #agentcombo style=" float: left"
                     (onSelect)="onAgentComboChange($event) "
                      [source]="agentcombo_Adapter" [valueMember]="'AgentName'"
                    [placeHolder]="agentplaceholder" [displayMember]="'AgentName'" [searchMode]="'containsignorecase'" [autoComplete]="true"  >
                    </jqxComboBox> 
            </td>

                <td colspan="1" >
                    <jqxComboBox #countrycombo style=" float: left"
                    (onSelect)="onCountryComboChange($event) "
                     [source]="countrycombo_Adapter" [valueMember]="'CountryName'"
                   [placeHolder]="countryplaceholder" [displayMember]="'CountryName'" [searchMode]="'containsignorecase'" [autoComplete]="true" [disabled]="countrycombodisable" >
                   </jqxComboBox> 
                </td>

                
    <td colspan="1" >
            <jqxInput [disabled]="false" [height]="25"  [(ngModel)]="nooftrack" [minLength]="1" [placeHolder]="nooftrackplaceholder">
            </jqxInput>               
    </td>

    <td colspan="1" >
            <jqxInput [disabled]="false" [height]="25"   [(ngModel)]="noofcontainer" [minLength]="1" [placeHolder]="noofcontainerplaceholder">
            </jqxInput>               
    </td>            

    </tr>
    <tr>
             

     <td colspan="1">
            <label >Cargo Received Date</label>
        <jqxDateTimeInput #cargoreceiveddate class="label" 
        (onValueChanged)="onCargoReceivedDatechange($event)" [disabled]="false" >
       </jqxDateTimeInput>
   </td>
   
   <td colspan="1">
        <label >Customer Issued Date</label>
       <jqxDateTimeInput #customerissueddate class="label" 
       (onValueChanged)="onCustomerIssueddate($event)" [disabled]="false">
      </jqxDateTimeInput>
  </td>
  
  <td colspan="1">
        <label >Transaction Date</label>
      <jqxDateTimeInput #transactiondate class="label" 
      (onValueChanged)="onTransactionDateChange($event)" [disabled]="false">
     </jqxDateTimeInput>
 </td>       
    <td colspan="3">
        <br>
      <jqxTextArea  #myInput (onChange)="onremarkchange($event)"
        [width]="'90%'" [height]="35" [(ngModel)]="remark" 
        [placeHolder]="remarkplaceholder">
      </jqxTextArea >
    </td>  
    </table>

<div style='margin-left:5px; margin-right:5px'>
  <h3>Shipper</h3>

  <jqxGrid #shipperGrid (onRowselect)="shipperGridOnRowSelect($event)"
       [source]="dataAdapter" (onCellvaluechanged)="CellvaluechangedShipper($event)"  (onCellendedit)="CellendeditShipper()"
      [keyboardnavigation]="false" [columns]="columns"
      [width]="'100%'" [source]="dataAdapter" [filterable]="true"  
    [editable]="true" [altrows]="true"  
    [showstatusbar]="true" [showaggregates]="true" [statusbarheight]="35"  [altrows]="true" [autoheight]="true"
      >
  </jqxGrid>
</div>


<div style='margin-left:5px; margin-right:5px'>
  <h3>Truck</h3>

  <jqxGrid #truckGrid  (onRowselect)="truckGridOnRowSelect($event)"  (onCellvaluechanged)="CellvaluechangedTruck($event)"  (onCellendedit)="CellendeditTruck()"    
      [keyboardnavigation]="false" [columns]="columns2"
      [width]="'100%'" [source]="dataAdapter2" [filterable]="true" 
    [editable]="true" [altrows]="true"  
    [showstatusbar]="true" [showaggregates]="true" [statusbarheight]="35"  [altrows]="true" [autoheight]="true"
      >
  </jqxGrid>
  </div>

  <div style='margin-left:5px; margin-right:5px'>
  <h3>PO</h3>
  <jqxGrid #poGrid      (onRowselect)="poGridOnRowSelect($event)"  (onCellvaluechanged)="CellvaluechangedPO($event)"  (onCellendedit)="CellendeditPO()"
  [keyboardnavigation]="false" [columns]="columns3"
  [width]="'100%'" [source]="dataAdapter3" [filterable]="true"  
[editable]="true"  [altrows]="true"  
[showstatusbar]="true" [showaggregates]="true" [statusbarheight]="35"  [altrows]="true" [autoheight]="true"
  >
</jqxGrid>
</div>

<div style='margin-left:5px; margin-right:5px'>
        <h3>SKU</h3>
        <jqxGrid #skuGrid      
        [keyboardnavigation]="false" [columns]="columns4"  (onCellvaluechanged)="CellvaluechangedSKU($event)"  (onCellendedit)="CellendeditSKU()"
        [width]="'100%'" [source]="dataAdapter4" [filterable]="true"  
      [editable]="true"  [altrows]="true"  
      [showstatusbar]="true" [showaggregates]="true" [statusbarheight]="35"  [altrows]="true" [autoheight]="true"
        >
      </jqxGrid>
      </div>


