<app-framelayout> </app-framelayout>
  
    <h1>
      <font color="blue"> Welcome to Home Page!</font>     
    </h1>            
    <table border="0" style="font-size:15px;font-family: fantasy;color: rgb(42, 3, 94)" >
      <tr>
        <td>
          My First 
        </td>
        <td>
          Home Page!
        </td>
      </tr>
    </table>
    <jqxGrid #myGrid
    [width]="850" [height]="365" [source]="employeesAdapter" [columns]="columns" 
    [rowdetails]="true" [rowsheight]="35" [initrowdetails]="initRowDetails"
    [ready]="ready" [rowdetailstemplate]="rowdetailstemplate">
</jqxGrid>


