<app-framelayout> </app-framelayout>
<div style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 5%;">
            <table style="width: 100%;height: 10%"  border="0">
            <tr>
                <td >
                    <jqxInput  [width]="200" [height]="25"    [minLength]="1" [placeHolder]="bookingnoplaceholder" [disabled]="false">             </jqxInput>              
                </td>
                <td >
                    <jqxInput  [width]="200" [height]="25"  [minLength]="1" [placeHolder]="shipperlaceholder" [disabled]="false">             </jqxInput>              
                </td>
                <td >
                    <jqxComboBox #countrycombo style=" float: left"
                    
                        [valueMember]="'CountryName'"
                    [placeHolder]="agentplaceholder" [displayMember]="'CountryName'" [searchMode]="'containsignorecase'" [autoComplete]="false"   >
                    </jqxComboBox> 
                </td>              
                <td >
                    <jqxComboBox #countrycombo style=" float: left"
                    
                        [valueMember]="'CountryName'"
                    [placeHolder]="statusplaceholder" [displayMember]="'CountryName'" [searchMode]="'containsignorecase'" [autoComplete]="false"  >
                    </jqxComboBox> 
                </td>     
                <td >
                    <jqxInput  [width]="200" [height]="25"    [minLength]="1" [placeHolder]="ReferenceNoplaceholder" [disabled]="false">             </jqxInput>              
                </td>  
                <td >      
                    <jqxDateTimeInput #cargoreceiveddate class="label"   >
                    </jqxDateTimeInput>
                </td> 
                <td >
                    <jqxButton [width]='120' [height]='30' class="buttoncolor" #button  > Refresh  </jqxButton> 
                </td>
        
            </tr>
            </table> 
    </div>     
    <!-- <div style="width: 100%; height: 5%; visibility: hidden;"> 
        <table style="width: 100%;height: 10%"  border="0">
        <tr>
            <td >
                <jqxInput  [width]="200" [height]="25" [source]="source"   [minLength]="1" [placeHolder]="bookingnoplaceholder" [disabled]="false">             </jqxInput>              
            </td>
            <td >
                <jqxInput  [width]="200" [height]="25" [source]="source"   [minLength]="1" [placeHolder]="shipperlaceholder" [disabled]="false">             </jqxInput>              
            </td>
            <td >
                <jqxComboBox #countrycombo style=" float: left"
                (onSelect)="onCountryComboChange($event) "
                [source]="countrycombo_Adapter" [valueMember]="'CountryName'"
                [placeHolder]="agentplaceholder" [displayMember]="'CountryName'" [searchMode]="'containsignorecase'" [autoComplete]="false" [disabled]="countrycombodisable" >
                </jqxComboBox> 
            </td>              
            <td >
                <jqxComboBox #countrycombo style=" float: left"
                (onSelect)="onCountryComboChange($event) "
                [source]="countrycombo_Adapter" [valueMember]="'CountryName'"
                [placeHolder]="statusplaceholder" [displayMember]="'CountryName'" [searchMode]="'containsignorecase'" [autoComplete]="false" [disabled]="countrycombodisable" >
                </jqxComboBox> 
            </td>       
            <td >      
                <jqxDateTimeInput #cargoreceiveddate class="label"  (onValueChanged)="onCargoReceivedDatechange($event)" [disabled]="false" >
                </jqxDateTimeInput>
            </td> 
            <td >
                <jqxButton [width]='120' [height]='30' class="buttoncolor" #button  > Refresh  </jqxButton> 
            </td>
    
        </tr>
        </table> 
    </div>     -->
    <div style="width: 100%; height: 100%; ">
        <table style="width: 100%;height: 10%"  border="1" > 
            <!-- <tr  >
                        <td colspan="2">
                            <p style="font-style: normal; font-size: 13px;font-family: Arial, Helvetica, sans-serif">
                                    Warehouse Management System <br />
                                    1. Why WMS? 
                                    Simply because it’s always a pleasure. It is easy and convenient, both for you and your clients.<br />
                                    2. How to give your clients data access for update of your warehouse and logistric?
                                    You can give your clients an access to the Warehouse Management System if you wish for them to receive something tangible
                                    Or save the earth and give them electronic form. Your clients need only download the mobile app, which can be found
                                    even if you gave an access to the Warehouse Management System, your clients can easily “electronise” or “e” the form via
                                    mobile app.
                                    <br />
                                    3. Benefits.Your clients will enjoy the “e” attributes of mobile app,
                                    They will receive reminders to manage and use their properties when they connect the mobile app or Warehouse Management System.
                                    Your clients can change default reminder alerts and receive reminders of e-form service.
                                    That way, your goodwill will extend to its fullest when they actually use the mobile app.
                            </p>
                        </td>
                </tr>
            <tr>
            <!-- <td>
                <label style="font-size: 15px" ><b>Status</b></label>
            </td>
            <td>
                <label style="font-size: 15px" ><b>List</b></label>
            </td>
            </tr> -->
            <tr  border="0">                 
            <td style="width: 15%; height: 10%">            
                    <!-- <jqxBarGauge 
                    [width]="400" [height]="400" [max]="20" 
                    [colorScheme]="'scheme02'" [values]="values">
                    </jqxBarGauge> -->
                    <table style="width: 100%;height: 70%"  border="1" >          
                        <tr> 
                            <td colspan="2">
                                <jqxBarGauge 
                                [width]="400" [height]="400" [max]="20" 
                                [colorScheme]="'scheme01'" [values]="values">
                                </jqxBarGauge>  
                            </td>  
                        </tr>
                        <tr>
                            <td>
                                    <jqxInput id="Receive" [width]="200" [height]="25"[minLength]="1" [placeHolder]="ReceivedPlaceholder" [disabled]="false"> </jqxInput>
                            </td>
                            <td>
                                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="TallyPlaceholder" [disabled]="false"> </jqxInput>
                            </td>
                        </tr>        
                        <tr>
                            <td >
                                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="CheckPlaceholder" [disabled]="false"> </jqxInput>
                            </td>
                            <td>
                                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="BarcodePlaceholder" [disabled]="true"> </jqxInput>
                            </td>
                        </tr>        
                        <tr>
                            <td >
                                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="AllocatePlaceholder" [disabled]="true"> </jqxInput>
                                </td>
                                <td>
                                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="PickPlaceholder" [disabled]="true"> </jqxInput> 
                                
                                </td>
                        </tr>        
                        <tr>       
                                <td>
                                        <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="DeliveryPlaceholder" [disabled]="true"> </jqxInput>               
                                </td>
                                <td>

                                </td>
                        </tr>
                    </table>  
                    <!-- <jqxInput id="Receive" [width]="200" [height]="25"[minLength]="1" [placeHolder]="ReceivedPlaceholder" [disabled]="false"> </jqxInput>
                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="TallyPlaceholder" [disabled]="false"> </jqxInput>
                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="CheckPlaceholder" [disabled]="false"> </jqxInput>
                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="BarcodePlaceholder" [disabled]="true"> </jqxInput>
                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="AllocatePlaceholder" [disabled]="true"> </jqxInput>
                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="PickPlaceholder" [disabled]="true"> </jqxInput> 
                    <jqxInput  [width]="200" [height]="25"[minLength]="1" [placeHolder]="DeliveryPlaceholder" [disabled]="true"> </jqxInput>                 -->
            </td>     
            <td style="width: 100%; height: 100%"  >    
                    <jqxGrid #DashboardGrid  
                    [width]="960" [height]="500" [source]="HeaderAdapter" [columns]="columns" 
                    [rowdetails]="true" [rowsheight]="25" [initrowdetails]="initRowDetails"
                    [ready]="ready" [rowdetailstemplate]="rowdetailstemplate">                
                </jqxGrid>
            </td>
            </tr>        
        </table>    
    </div>
    <div class="framebutton" style="width: 100%; height: 5%;visibility: visible "   >                                
        <table width="100%" border="0">
            <tr>       
                <td>   
                <jqxButton [width]='120' [height]='30' #button (onClick)="btnNewReceive()"  >      New Receive     </jqxButton> 
                <jqxButton [width]='120' [height]='30' #button (onClick)="TallyCount()" >      Tally Count     </jqxButton>     
                <jqxButton [width]='120' [height]='30' #button (onClick)="Checker()">       Checker       </jqxButton> 
                <jqxButton [width]='120' [height]='30' #button (onClick)="Barcode()">       Barcode        </jqxButton>   
                <jqxButton [width]='120' [height]='30' #button (onClick)="Allocate()">       Allocate       </jqxButton>  
                <jqxButton [width]='120' [height]='30' #button (onClick)="PickList ()">       Pick List       </jqxButton>  
                <jqxButton [width]='120' [height]='30' #button (onClick)="Delivery()">       Delivery       </jqxButton>  
                <jqxButton [width]='120' [height]='30' #button (onClick)="Delete()">      Delete       </jqxButton>
                <jqxButton [width]='120' [height]='30' #button (onClick)="Preview()">       Preview       </jqxButton>    
                <!-- <jqxButton [width]='120' [height]='30' #button  >      Print       </jqxButton>                        -->
                <jqxButton [width]='120' [height]='30' #button (onClick)="GenearateExcel()" >       Genearate Excel       </jqxButton>        
                </td>
            </tr>
        </table>
    </div>
</div>