<div class="framebutton"  >
                                
    <table width="100%" border="0">
        <tr>
        <td>
        
        <jqxButton [width]='120' [height]='40' class="buttoncolor" #button (onClick)="btnNew()"  >
        New
        </jqxButton>
      
  
        <jqxButton [width]='120' [height]='40' #button (onClick)="btnSave()"  >
        Save
        </jqxButton>
       
  
        <jqxButton [width]='120' [height]='40' #button >
        Edit
        </jqxButton>
   
        <jqxButton [width]='120' [height]='40' #button  >
        Delete
        </jqxButton>
   
      
        <jqxButton [width]='120' [height]='40' #button >
        Print
        </jqxButton>
       
        </td>
        </tr>
        </table>
  
  </div>